<?xml version="1.0" encoding="UTF-8"?>
<!-- 日次 Cloudflare DNS+SSL 監視 (emocutelab.com, harmonyscope 系)。09:00。 -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTD/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.emocute.toolkit.daily-cf-ssl-monitor</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/emocute/Downloads/Sketches/emocute-toolkit/bin/emocute</string>
    <string>infra</string>
    <string>cf-dns-ssl-monitor</string>
    <string>emocutelab.com</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/emocute/Downloads/Sketches/emocute-toolkit/automation/logs/daily-cf-ssl-monitor.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/emocute/Downloads/Sketches/emocute-toolkit/automation/logs/daily-cf-ssl-monitor.err</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
